nicoplaylist {
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  z-index: 20;
  position: fixed;
  bottom: 0;
  right: 0;
  width: 300px;
  height: 300px;

  .npl-border {
    border: solid 3px red;
  }

  #npl-header {
    height: 30px;
  }

  #npl-list {
    height: 270px;
    overflow-y: scroll;
  }

  * {
    color: white;
  }

  img {
    max-width: 100%;
  }
}
